$background: #333;
$color: #f3f3f3;
$background-light: #e3e3e3;
$color1: #5db4ff;
$color2: #3f7aad;
$color3: #2c3e50;
$color4: #fdf4f4;
$color5: #c5a0a0;
$color6: #ce4c4c;

$transition: 0.4s all ease-in-out;
$transition2: 0.2s all ease-in-out;

$maxWidth: 1200px;

$margin0: 4px;
$margin1: 10px;
$margin2: 20px;
$margin3: 40px;
$margin4: 60px;

$font0: 12px;
$font1: 14px;
$font2: 18px;
$font3: 22px;
$font4: 28px;
$font5: 32px;

$borderRadius: 4px;